@tailwind base;
@tailwind components;
@tailwind utilities;


.welcome-wrapper{
    padding-inline: 2rem;
    border: 1px solid;
    margin: auto;
    position: relative;
}

.header-wrapper{
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.title-wrapper img{
    height: 60px;
}

.title-wrapper p{
    font-size: 20px;
    font-weight: bold;
}
